html, body {
	align-items: center;
	background-color: white;
	display: flex;
	height: 100%;
	justify-content: center;
}

a {
	color: black;
	cursor: default;
	font-family: "Comic Sans MS", "Chalkboard", cursive, sans-serif;
	font-size: xx-large;
	text-align: center;
	text-decoration: none;
}
