a {
	color: black;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-size: xx-large;
	text-decoration: none;
}

body, html {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}
