<footer class="pb-3 pt-3 text-center" style="font-size: 3.5rem;">
	{% include footer_link.html label="LinkedIn" icon="fa-linkedin" href="https://www.linkedin.com/in/hallamr/" %}
	{% include footer_link.html label="GitHub" icon="fa-github" href="https://github.com/MysteryPancake" %}
	{% include footer_link.html label="YouTube" icon="fa-youtube-play" href="https://www.youtube.com/mysterypancake" %}
	{% include footer_link.html label="Vimeo" icon="fa-vimeo" href="https://vimeo.com/mysterypancake" %}
	{% include footer_link.html label="Instagram" icon="fa-instagram" href="https://instagram.com/mysterypancake1/" %}
</footer>