<div class="row pt-4 pb-4" style="background-color: {{ include.color }}">
	<div style="width: min(100%, 640px);">
		<div style="padding:56.25% 0 0 0; box-shadow: 0 4px 8px black" class="position-relative">
		{% if include.youtube %}
			<iframe src="https://www.youtube.com/embed/{{include.video_id}}" loading="lazy" class="position-absolute top-0 left-0 w-100 h-100 lazy-iframe" frameborder="0" allow="autoplay; encrypted-media; web-share" allowfullscreen></iframe>
		{% else %}
			<iframe src="https://player.vimeo.com/video/{{include.video_id}}?title=0&byline=0&portrait=0" loading="lazy" class="position-absolute top-0 left-0 w-100 h-100 lazy-iframe" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
		{% endif %}
		</div>
	</div>
	<div class="col mt-3">
		<h2 class="mb-3">{{ include.title }}</h2>
		<p class="mb-0">{{ include.description }}</p>
	</div>
</div>