---
---

@import "base";

.hover-glow {
	transition-property: all;
	transition-duration: 0.1s;
}

.hover-glow:hover {
	filter: brightness(125%);
	text-shadow: 0 0 16px white;
}

.hover-scale {
	transition-property: all;
	transition-duration: 0.1s;
	transition-timing-function: cubic-bezier(0.18,0.89,0.3,1.67);
	transform: scale(100%);
}

.hover-scale:hover {
	transform: scale(105%);
}