---
---

@import "base";

.hover-glow {
	transition: filter 0.1s;
}

.hover-glow:hover {
	filter: brightness(125%);
	text-shadow: 0 0 16px white;
}

.hover-contact {
	transition: filter 0.1s linear, transform 0.1s cubic-bezier(0.2, 0.9, 0.3, 1.67);
}

.hover-contact:hover {
	filter: brightness(125%);
	transform: scale(105%);
	text-shadow: 0 0 16px white;
}