<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="manifest" href="{{ "/assets/manifest.json" | relative_url }}">
		<meta name="theme-color" content="#FFE600">
		<link rel="mask-icon" href="{{ "/assets/icons/safari-pinned-tab.svg" | relative_url }}">
		<meta name="msapplication-TileColor" content="#FFE600">
		<meta name="msapplication-TileImage" content="{{ "/assets/icons/mstile-144x144.png" | relative_url }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icons/apple-touch-icon.png" | relative_url }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icons/favicon-32x32.png" | relative_url }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icons/favicon-16x16.png" | relative_url }}">
		{% if page.description %}
		<meta name="description" content="{{ page.description }}" />
		<meta property="og:description" content="{{ page.description }}">
		{% endif %}
		<meta name="keywords" content="Hallam, Roberts, MPan, MystPan, MysteryPancake">
		<meta property="og:title" content="{{ page.title }}">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://mysterypancake.github.io">
		<meta property="og:image" content="https://mysterypancake.github.io/assets/icons/icon.png">
		<meta property="og:site_name" content="{{ site.title }}">
		<link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | relative_url }}">
		<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
		<script async src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>
	</head>
	<body>
		{% include navbar.html %}
		{{ content }}
	</body>
</html>
